$common-dialog-height: 43px;
$common-dialog-padding-top: 0.5625rem;
$common-dialog-line-height: 1.25rem;
$common-dialog-title-font-size: 14px;
$common-dialog-border-radius: 4px;
$common-dialog-footer-padding: 1.25rem 0 1.25rem 0;

.teespace-common {

    &.teespace-me-tooltip {
        left: 10px !important;
        top: 0px !important;
        transform-origin: 50% 8.5938px !important;
        margin-top: -0.5rem;

        .ant-tooltip-arrow {
            top: 25px;
            .ant-tooltip-arrow-content {
                transform: translateY(-6.53553391px) rotate(45deg);
            }
        }
        .ant-tooltip-inner {
            font-size: 0.56rem;
            padding: 0.05rem 0.25rem;
            background-color: #523dc7;
            border-radius: 0.28rem;
            min-width: 0;
            min-height: 0;
        }
    }
    &.ant-select {
        width: auto;
        min-width: 72px;
        .ant-select-selector {
            background-color: #FFFFFF;
            border: 1px solid #C6CED6 !important;
            border-radius: 25px !important;

            &:hover {
                background-color: #DCDDFF;
                color: #000000;
            }

        }
        &.ant-select-focused {
            .ant-select-selector {
                background-color: #DCDDFF;
                border: 1px solid #6C56E5 !important;
            }
        }
    }

    
    &.ant-select-dropdown, &.ant-tree-select-dropdown {
        &.full-w {
            width: 100%;
        }

        border-radius: 4px;
        border: 1px solid #c6ced6;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);

        .ant-select-item, .ant-select-tree-treenode {
            font-size: 0.75rem;
            line-height: 1.25rem;
            color: #000000;
            border-radius: 13px;


            &.ant-select-item-option-active, &:hover {
                background-color: #DCDDFF;
            }
            /* clear tree-select dropdown hovering css on antd*/
            .ant-select-tree-node-content-wrapper {
                &.ant-select-tree-node-selected,
                &:hover {
                    background: transparent !important;
                }
            }

            &.ant-select-tree-treenode-selected,
            &.ant-select-item-option-selected {
                background-color: #BCBEFF;
                color: #010101;
                line-height: 1.25rem;
            }
        }
    }

    &.ant-modal {
        animation-duration: 0s !important;
    }
    .ant-modal-content {
        border-radius: $common-dialog-border-radius;
    }
    .ant-modal-header {
        border-radius: $common-dialog-border-radius $common-dialog-border-radius 0 0;
        padding-top: $common-dialog-padding-top;
        height: $common-dialog-height;
        line-height: $common-dialog-line-height;
    }
    
    .ant-modal-close .ant-modal-close-x {
        width: $common-dialog-height;
        height: $common-dialog-height;
        line-height: $common-dialog-height;
    }
    .ant-modal-title {
        text-align: center;
        font-size: $common-dialog-title-font-size;
    }
    
    .ant-modal-body {
        margin: 0;
        padding: 0;
    }

    .ant-modal-footer {
        padding: $common-dialog-footer-padding;
        text-align: center;
    }
}