$common-dialog-height: 43px;
$common-dialog-padding-top: 9px;
$common-dialog-line-height: 20px;
$common-dialog-title-font-size: 14px;
$common-dialog-border-radius: 4px;
$common-dialog-body-margin: 16px 16px 0 16px;
$common-dialog-footer-padding: 20px 0 20px 0;
.teespace-common-modal {

    .ant-modal-content {
        border-radius: $common-dialog-border-radius;
    }
    .ant-modal-header {
        border-radius: $common-dialog-border-radius $common-dialog-border-radius 0 0;
        padding-top: $common-dialog-padding-top;
        height: $common-dialog-height;
        line-height: $common-dialog-line-height;
    }
    
    .ant-modal-close .ant-modal-close-x {
        width: $common-dialog-height;
        height: $common-dialog-height;
        line-height: $common-dialog-height;
    }
    .ant-modal-title {
        text-align: center;
        font-size: $common-dialog-title-font-size;
    }
    
    .ant-modal-body {
        margin: $common-dialog-body-margin;
    }

    .ant-modal-footer {
        padding: $common-dialog-footer-padding;
        text-align: center;
    }
}